.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;
    width: 30%;
    background-color: #e9c46a;
    color: #292f36;
    margin: 20px;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  .cardImg{
    height: 100px;
  }

  .cardParent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .divSection1 { grid-area: 1 / 1 / 2 / 2; }
    .divSection2 { grid-area: 1 / 2 / 2 / 3; }
    .divSection3 { grid-area: 1 / 3 / 2 / 4; }

    .locationIcon {
      transition: 0.3s;
      cursor: pointer;
      height: 30px;
    }
  
    .locationIcon:hover {
      
    }