.post-view-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  color: #292f36;
}

.post-content {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.post-content img {
  max-width: 200px;
  margin-right: 20px;
}

